-
  const fonts = [
      'Roboto',
      'Robotomedium',
      'Robotobold',
      'latoregular',
      'latomedium',
      'latoblack'
    ]
-
  const site = {
    title: 'Круглые шкафы',
    description: 'Description сайта',
    url: 'https://example.com',
    logo: '/img/logo.png',
  }
-
  const links = [
    {
      name: 'Главная',
      path: '/'
    },
    {
      name: 'О компании',
      path: '/about.html'
    },
    {
      name: 'Контакты',
      path: '/contacts.html'
    },
    {
      name: 'Другое',
      path: '/other.html'
    }
  ]

-
  const contacts = {
    phone: {
      name: 'Телефон',
      value: 'tel:+79958830160',
      text: '+7 (995) 883-01-60',
      icon: 'phone'
    },
    email: {
      name: 'Почта',
      value: 'mailto:mail@npi-agi.ru',
      text: 'mail@npi-agi.ru',
      icon: 'email'
    },
    address: {
      name: 'Адрес',
      value: '197342, Санкт-Петербург, наб. Черной речки, д. 41, к. 2, лит. Б, пом. №9',
      text: '197342, Санкт-Петербург, наб. Черной речки, д. 41, к. 2, лит. Б, пом. №9',
      icon: 'address'
    }
  }
