extends ./templates/layout

block main-content
  main.index-page
    section.index-page__promo.promo-index
      ._container(style="display: flex; flex-direction: column; align-items: center; gap: 2rem")
        h1.title Главная страница {{ message }}
        .icon-wrap
          +icon('robot', 600, 600)
          .eye.eye--left.center-absolute
          .eye.eye--right.center-absolute
        button.btn.btn--large.btn--success(@click='vueClick')
          .span
          span
            | {{ counter > 2 ? 'Молодец!' : 'Кликни 3 раза!' }} {{ counter }}
        span(style='color: Dodgerblue; height: 96px')
          i.fa-solid.fa-thumbs-up.fa-6x
        +pictureLazy('12', 300, 300, 'alt')
        +icon('email-blue')
        figure
          +picture('3', 300, 300, 'alt')
          figcaption Foto
        +dummyImg(300, 100, '00ddff')
